<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/projectlist.css">
    <title>Projects</title>
</head>
<body> 
    <div class="logocontainer">
    <div class="logo">
      <h2>Goutam</h2>
      <h3>Singla</h3>
    </div> 
    </div>
    <div class="mauto">
        <a href="/" style="text-decoration: none;">< Home</a>
        <h1>All projects</h1>        
    </div>
    <div class="projectlist">
        <div class="row heading" style="color: black;">
            <div class="yearcolumn"><b>Year</b></div>
            <div class="projectcolumn"><b>Project</b></div>
            <!-- <div class="madeatcolumn"><b>Made at</b></div> -->
            <div class="projectcolumn"><b>Built with</b></div>
            <div class="linkcolumn"><b>Link</b></div>
        </div>
        <div class="row">
            <div class="yearcolumn">2023</div>
            <div class="fontsize projectcolumn"><b> Personal Portfolio Page</b></div>
            <!-- <div class="madeatcolumn"></div> -->
            <div class="projectcolumn">Html CSS Javascript NodeJS Express</div>
            <div class="linkcolumn"><a href="http://localhost:3000" style="text-decoration: none;">Visit Site</a></div>
        </div>
        <div class="row">
            <div class="yearcolumn">2023</div>
            <div class="fontsize projectcolumn"><b> A simple Calculator</b></div>
            <!-- <div class="madeatcolumn">CodSoft</div> -->
            <div class="projectcolumn">Html CSS Javascript</div>
            <div class="linkcolumn">link</div>
        </div>
        <div class="row">
            <div class="yearcolumn">2023</div>
            <div class="fontsize projectcolumn"><b> Landing Page for a dance academy</b></div>
            <!-- <div class="madeatcolumn">CodSoft</div> -->
            <div class="projectcolumn">Html CSS</div>
            <div class="linkcolumn">link</div>
        </div>
        <div class="row notborder">
            <div class="yearcolumn">2023</div>
            <div class="fontsize projectcolumn"><b> Tic Tac Toe! game</b></div>
            <!-- <div class="madeatcolumn"></div> -->
            <div class="projectcolumn">Html CSS JavaScript</div>
            <div class="linkcolumn">link</div>
        </div>
    </div>
</body>
</html>